# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
backend/models/*.joblib

# Node
node_modules/
.next/
out/
frontend/.env.local

# Env
.env
backend/.env
frontend/.env

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
